{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1> <!-- Αντικαθιστά το μπλόκ απο το main.html -->
{% endblock %}

{% block content %}

  <form method="post">
    <label for="username">Username</label>
    <input class="write" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="write" type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>

{% endblock %}
